<h3><i class="twitch icon"></i>Twitch</h3>
<div class="ui card">
  <a class="image" href="https://twitch.tv/{{ twitchUser.display_name }}" target="_blank">
    <img src="{{ twitchUser.profile_image_url }}">
  </a>
  <div class="content">
    <div class="header">{{ twitchUser.display_name | uppercase }}</div>
    <div *ngIf="currentlyStreaming" class="meta">
      Currently streaming!
    </div>
    <div *ngIf="!currentlyStreaming" class="meta">
      Currently offline
    </div>
    <div class="description">
      {{ twitchUser.description }}
    </div>
  </div>
  <div class="extra content">
    <span>
      <i class="users icon"></i>
      View Count
    </span>
    <span class="right floated">
      {{ twitchUser.view_count }}
    </span>
  </div>
</div>
