<h3><i class="steam icon"></i>Steam</h3>
<div *ngIf="!displayCard" class="ui card">
  <div class="content">
    There was a problem loading this Steam account.
  </div>
</div>
<div *ngIf="displayCard" class="ui card">
  <a class="image" href="{{ steamUser.profileurl }}" target="_blank">
    <img src="{{ steamUser.avatarfull }}">
  </a>
  <div class="content">
    <div class="header">{{ steamUser.personaname | uppercase }}</div>
    <div class="meta">
      {{ status }}
    </div>
    <div class="description">
      <strong>Recent Games:</strong>
      <ul *ngIf="steamRecentGames">
        <li *ngFor="let game of steamRecentGames.games">
          {{ game.name }}
        </li>
      </ul>
    </div>
  </div>
  <div class="extra content">
    <span>
      <i class="gamepad icon"></i>
      Games Owned
    </span>
    <span *ngIf="steamGames" class="right floated">
      {{ steamGames.game_count }}
    </span>
    <span *ngIf="!steamGames" class="right floated">
      TBD
    </span>
  </div>
</div>