<!-- <div *ngIf="userObservable | async as user; else loading">
  Hello {{user.last}}, {{user.first}}!
</div> -->

<!-- Add New User -->
<div *ngIf="user$ | async as user; else loading" class="ui grid container">
<!-- <div *ngIf="user" class="ui grid container"> -->
  <div class="sixteen wide column">
    <div class="ui inverted segment">
      <form class="ui inverted form" #userForm="ngForm">
        <div class="two fields">
          <div class="field">
            <label>Username</label>
            <input type="text" [ngModel]="user?.username" (ngModelChange)="user.username=$event" name="username" disabled>
          </div>
          <div class="field">
            <label>Email</label>
            <input type="email" [ngModel]="user?.email" (ngModelChange)="user.email=$event" name="email">
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <label>First Name</label>
            <input type="text" [ngModel]="user?.first_name" (ngModelChange)="user.first_name=$event" name="first_name">
          </div>
          <div class="field">
            <label>Last Name</label>
            <input type="text" [ngModel]="user?.last_name" (ngModelChange)="user.last_name=$event" name="last_name">
          </div>
        </div>
        <div class="field">
          <label>Profile Image URL</label>
          <input type="text" [ngModel]="user?.imageURL" (ngModelChange)="user.imageURL=$event" name="imageURL">
        </div>
        <div class="two fields">
          <div class="field">
            <label>Created</label>
            <input type="text" [ngModel]="user?.createdAt | date:'medium':'-0700' " name="createdAt" disabled>
          </div>
          <div class="field">
            <label>Updated</label>
            <input type="text" [ngModel]="user?.updatedAt | date:'medium':'-0700' " name="updatedAt" disabled>
          </div>
        </div>
      </form>
    </div>
    <button *ngIf="user" (click)="updateUser()" class="ui right floated primary button">Update</button>
    <button *ngIf="user" (click)="deleteUser()" class="ui right floated red button">Delete</button>
    <button (click)="goBack()" class="ui right floated button">Go Back</button>
  </div>
</div>

<ng-template #loading let-user>
  <div class="ui grid container">
    <div class="sixteen wide column">
      <div class="ui inverted segment">
        <h2>Register</h2>
        <form class="ui inverted form" #registerForm="ngForm">
          <div class="two fields">
            <div class="field">
              <label>Username</label>
              <input type="text" [(ngModel)]="credentials.username" name="username" autocomplete="username">
            </div>
            <div class="field">
              <label>Password</label>
              <input type="password" [(ngModel)]="credentials.password" name="password" autocomplete="current-password">
            </div>
          </div>
          <div class="two fields">
            <div class="field">
              <label>First Name</label>
              <input type="text" [(ngModel)]="credentials.first_name" name="first_name" autocomplete="given-name">
            </div>
            <div class="field">
              <label>Last Name</label>
              <input type="text" [(ngModel)]="credentials.last_name" name="last_name" autocomplete="family-name">
            </div>
          </div>
          <div class="two fields">
              <div class="field">
                <label>Email</label>
                <input type="email" [(ngModel)]="credentials.email" name="email" autocomplete="email">
              </div>
              <div class="field">
                <label>Profile Image URL</label>
                <input type="text" [(ngModel)]="credentials.imageURL" name="imageURL">
              </div>
            </div>
        </form>
      </div>
      <button (click)="register()" class="ui right floated primary button">Register</button>
      <button (click)="goBack()" class="ui right floated button">Go Back</button>
      <p class="lead">Already registered? Please log in
        <a routerLink="/login">here</a> instead.</p>
    </div>
  </div>
</ng-template>