<div class="ui grid container">
  <div class="sixteen wide column">
    <h2 class="ui top attached header inverted">All Tasks
      <a routerLink="/tasks/new" class="ui right floated button">Add Task</a>
    </h2>

    <mat-table [dataSource]="dataSource" class="ui selectable inverted table attached unstackable">
    <!-- <mat-table [dataSource]="dataSource"> -->

      <!-- ID Column -->
      <ng-container matColumnDef="_id" class="one wide">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let task">
          <a routerLink="/tasks/{{ task._id }}">
            <i class="info circle icon"></i>
          </a>
        </mat-cell>
      </ng-container>

      <!-- Short Description Column -->
      <ng-container matColumnDef="short_description" class="four wide">
        <mat-header-cell *matHeaderCellDef> Short Description </mat-header-cell>
        <mat-cell *matCellDef="let task"> {{task.short_description}} </mat-cell>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description" class="seven wide">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let task"> {{task.description}} </mat-cell>
      </ng-container>

      <!-- Created At Column -->
      <ng-container matColumnDef="createdAt" class="two wide">
        <mat-header-cell *matHeaderCellDef> Created </mat-header-cell>
        <mat-cell *matCellDef="let task"> {{task.createdAt | date:'medium':'-0700'}} </mat-cell>
      </ng-container>

      <!-- Updated At Column -->
      <ng-container matColumnDef="updatedAt" class="two wide">
        <mat-header-cell *matHeaderCellDef> Updated </mat-header-cell>
        <mat-cell *matCellDef="let task"> {{task.updatedAt | date:'medium':'-0700'}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [length]="task?.taskCount" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
  </div>
