<nav>
  <div class="ui top attached menu">
    <a class="item" (click)="onToggle()">
      <i class="sidebar icon"></i>
      Menu
    </a>
    <a class="item">{{ title }}</a>
    <div class="right menu">
        <a class="item">Register</a>
        <a class="item">Login</a>
        <a class="item">Logout</a>
      </div>
  </div>
  <div class="ui left vertical inverted sidebar labeled icon menu" id="sidenav">
    <a class="item">
      <i class="home icon"></i>
      Home
    </a>
    <a class="item" routerLink="/tasks">
      <i class="list icon"></i>
      Tasks
    </a>
    <a class="item">
      <i class="github alternate icon"></i>
      [Placeholder]
    </a>
  </div>
</nav>

<router-outlet></router-outlet>
<app-messages></app-messages>
