<h3><i class="spotify icon"></i>Spotify</h3>
<div *ngIf="!spotifyUser" class="ui card">
  <div class="content">
    There was a problem loading this Spotify account.
  </div>
</div>
<div *ngIf="spotifyUser" class="ui card">
  <a class="image" href="" target="_blank">
    <!-- <img src="{{ spotifyUser }}"> -->
  </a>
  <div class="content">
    <div class="header">{{ spotifyUser | uppercase }}</div>
    <div *ngIf="currentlyStreaming" class="meta">
      Currently streaming!
    </div>
    <div *ngIf="!currentlyStreaming" class="meta">
      Currently offline
    </div>
    <div class="description">
      {{ spotifyUser }}
    </div>
  </div>
  <div class="extra content">
    <span>
      <i class="users icon"></i>
      View Count
    </span>
    <span class="right floated">
      {{ spotifyUser }}
    </span>
  </div>
</div>