<!-- <div class="alert alert-warning alert-dismissible" role="alert" *ngIf="message !== ''">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{message}}
</div> -->
<div class="ui grid container">
    <div class="sixteen wide column">
      <div class="ui inverted segment">
        <h2>Login</h2>
        <form class="ui inverted form" #loginForm="ngForm">
          <div class="two fields">
            <div class="field">
              <label>Username</label>
              <input type="text" [(ngModel)]="credentials.username" name="username">
            </div>
            <div class="field">
              <label>Password</label>
              <input type="password" [(ngModel)]="credentials.password" name="password">
            </div>
          </div>
        </form>
      </div>
      <button (click)="login()" class="ui right floated primary button">Login</button>
      <button (click)="goBack()" class="ui right floated button">Go Back</button>
      <p class="lead">Not registered? Please register <a routerLink="register">here</a> instead.</p>
    </div>
  </div>
