<div class="alert alert-warning alert-dismissible" role="alert" *ngIf="message !== ''">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{message}}
</div>
<div class="ui grid container">
  <div class="sixteen wide column">
    <div class="ui inverted segment">
      <h2>Register</h2>
      <form class="ui inverted form" #registerForm="ngForm">
        <div class="field">
          <label>Username</label>
          <input type="text" [(ngModel)]="registerData.username" name="username">
        </div>
        <div class="field">
          <label>Password</label>
          <input type="password" [(ngModel)]="registerData.password" name="password">
        </div>
        <div class="field">
          <label>First Name</label>
          <input type="text" [(ngModel)]="registerData.first_name" name="first_name">
        </div>
        <div class="field">
          <label>Last Name</label>
          <input type="text" [(ngModel)]="registerData.last_name" name="last_name">
        </div>
      </form>
    </div>
    <button (click)="register()" class="ui right floated primary button">Register</button>
    <button (click)="goBack()" class="ui right floated button">Go Back</button>
  </div>
</div>
